fastapi
uvicorn
psycopg2-binary
sqlalchemy
python-dotenv
setuptools>=78.1.1
pydantic[email]
passlib
bcrypt>=4.0.1
feedparser
jose
python-jose[cryptography]
datetime
pytz
requests
apscheduler
pytest
pytest-cov

